* {
    background-color: darkslateblue;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.app-header {
    color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 60px;
    margin-top: 30px;
}

.todo-create {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin-top: 25px;
}

.todo-input {
    width: 490px;
    border: none;
    border-bottom: 1px solid cornflowerblue;
    color: lightgray;
    outline: none;
    margin: 10px 0;
    font-size: 20px;
    padding: 5px;
}

.todo-input:hover {
    border-color: aqua;
}

.todo-create-btn {
    border: none;
    background-color: cornflowerblue;
    color: navy;
    height: 40px;
    width: 100px;
    border-radius: 20px;
    cursor: pointer;
    margin: 3px 0 10px 0;
}

.todo-create-btn:hover {
    background-color: lightblue;
}

.todo-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid cornflowerblue;
    border-radius: 5px;
    padding: 5px 0 5px 10px;
    margin: 15px 0;
    color: lightblue;
    font-size: 18px;
}

.todo-block:last-child {
    margin-bottom: 25px;
}

.todo-block:hover {
    border-color: aqua;
}

.todo-block>div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 420px;
}

.edit-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 5px;
    width: 50px;
    color: lightblue;
}

.edit-icon {
    font-size: 20px;
    cursor: pointer;
}

.edit-icon:hover {
    color: aqua;
}

.edit-input {
    width: 80%;
    outline: none;
    border: none;
    border-bottom: 1px solid lightblue;
    color: lightgray;
    padding: 3px 0;
    font-size: 18px;
}